/* CSS code with centered "Start Quiz" button */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    position: absolute;
    top: 2%;
    left: 5%;
    font-size: 2em;
    font-family: 'papyrus', cursive;
    color: #000; /* Anpassung der Schriftfarbe nach Bedarf */
    word-wrap: break-all;
    width: 5%;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Papyrus', cursive;
    background: url('assets/WEBASSETS/Avatar_world_map_EDITED 1.png') no-repeat center center fixed;
    background-size: contain;
}


main {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 20px auto;
    max-width: 800px;
    padding: 30px;
    text-align: center;
}

h1 {
    font-size: 1.5em;
    margin: 10px 0;
    font-family: 'Papyrus', cursive;
    color: #004d40;
    line-height: 1.2;

}


/* Quiz section */
.question {
    margin: 20px 0;
}

.answer button {
    background: #edc60f;
    border: 2px solid #d90404;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    margin: 10px 0;
    padding: 15px;
    transition: background 0.3s ease;
}

.answer button:hover {
    background: #1c8922;
}

/* Results section */
.benders-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.bender {
    background: rgba(224, 247, 250, 0.9);
    border: 2px solid #0014e0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bender img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}


/* CSS for flip animation */
.bender {
    position: relative;
    cursor: pointer;
    perspective: 1000px; /* Add perspective for 3D effect */
}

.bender:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.bender .bender-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hide the backside of the card */
    transition: transform 0.6s ease; /* Smooth transition */
}

.bender .bender-info.back {
    transform: rotateY(180deg); /* Rotate to show backside */
}

.bender .bender-info.front {
    transform: rotateY(0deg); /* Initial state */
}

.bender .bender-info.front,
.bender .bender-info.back {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Add hover effect */
.bender:hover .bender-info.front {
    transform: rotateY(-180deg); /* Rotate to show backside on hover */
}

.bender:hover .bender-info.back {
    transform: rotateY(0deg); /* Rotate back to show frontside on hover */
}


/* Center Start Quiz button */


#start-button {
    position: absolute;
    top: 40%;
    left: 55%;
    padding: 10px 40px;
    font-size: 1.5em;
    font-family: Papryus, cursive;
    color: black; /* Schriftfarbe */
    background-color:white; /* Hintergrundfarbe */
    border: 2px solid black; /* Rahmen des Buttons */
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

#start-button:hover, #team-button:hover {
    background: linear-gradient(135deg, #1c8922, #0014e0);
    transform: translateY(-5px);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}


#start-button:active {
    transform: translateY(0);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #004d40, #004d40); /* Einheitliche Farbe beim Klicken */
    color: #ffffff; /* Weißer Text beim Klicken */
}

#team-button {
    padding: 10px 40px;
    font-size: 1.5em;
    font-family: Papryus, cursive;
    top: 85%;
    left: 15%;
    color: black; /* Schriftfarbe */
    background-color:white; /* Hintergrundfarbe */
    border: 2px solid black; /* Rahmen des Buttons */
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

}

/* Responsive design */
@media (max-width: 768px) {
    main {
        margin: 10px;
        padding: 15px;
    }

    .answer button {
        padding: 10px;
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }

    .answer button {
        padding: 8px;
        font-size: 0.8em;
    }

    .bender {
        width: 120px;
    }
}
