* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 191, 255);
}

#quizz {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer {
   
    column-count: 2;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
    color: tomato;
}